/* * {
  background: #a5d7e8;
}
button {
  background: #0b2447;
  padding: 16px 32px;
  border-radius: 5px;
  margin: 100px;
  font-size: 32px;
  box-shadow: 5px 5px 5px #19376d;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 204px;
}

.counter {
  margin: 250px;
} */
